# STARMAKER ENVIRONMENT CONFIGURATION
VITE_FIREBASE_API_KEY="AIzaSyDaekBVpURtO-zWi3SgqLbzukzxffB6Jpk"
VITE_FIREBASE_AUTH_DOMAIN="starmaker-app-navi-2026.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="starmaker-app-navi-2026"
VITE_FIREBASE_STORAGE_BUCKET="starmaker-app-navi-2026.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="975698061333"
VITE_FIREBASE_APP_ID="1:975698061333:web:8be68bfa1c4a94f343861c"

# SERVER-ONLY / SERVERLESS
YOURIMAGESHARE_API_KEY="nVTib4ihKxY460zI"
YOURIMAGESHARE_ENDPOINT="https://yourimageshare.com/api/upload"
